@mixin font-family-main {
  font-family: "SF Pro Display", sans-serif;
}

@mixin font-header {
  @include font-family-main;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

@mixin font-standart {
  @include font-family-main;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
}

@mixin font-nav-bar {
  @include font-family-main;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-button-blue {
  @include font-family-main;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
}

@mixin font-input {
  @include font-family-main;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

@mixin link {
  color: inherit;
  text-decoration: none;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-reset {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

@mixin button-blue {
  @include button-reset;
  @include font-button-blue;
  background: $blue;
  border-radius: 4px;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}