//colors
$nav-bar: #091336;
$black-text: #122945; 
$activ: rgba($color: #D8E4FB, $alpha: 0.32);
$blue: #002CFB;
$text-secondary: #5E7793;

$white: #ffffff;
$white-background: #F1F4F9;
$white-60: rgba($color: #ffffff, $alpha: 0.6);

$grey-light: #DEE6F5;
$grey-mid: #ADBFDF;
$grey-text: #899CB1;
$yellow-light: #FFB800;
$yellow-mid: #FFD500;
$yellow-shadow: rgba(237, 218, 1, 0.5);
$green-light: #00A775;
$green-mid: #28A879;
$red-mid: #EA1A4F;